body {
        color: black;
        text-align: center
}

.container, .intro{
       padding: 4% 4%;
}
.navlink{
        color: rgb(43, 43, 43);
}

.video{
        align-items: center;
        padding: 5% 5%;
}

.heading{
        background-image: url(digitalImage.jpg);
        background-size: cover;
        padding: 15%;
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: x-large;
}

h2{
        font-size: medium;
}
